
<div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 bg-info">
        
        <div class="container">
                <h3 class="text-center mt-3 mb-4">Doctor Registration</h3>
        <form [formGroup]="registerForm" (ngSubmit)="doctorReg()">
        
        <div class="form-group">
            <label>User Name</label>
            <input type="text" formControlName="name" class="form-control" minlength="4" maxlength="11" pattern="[A-Za-z]{1}[A-Za-z0-9]{3,}" autofocus [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                        <div *ngIf="f.name.errors.required">User Name is required</div>
                        <div *ngIf="f.name.errors.minlength">User Name must be at least 4 characters</div>
                        <div *ngIf="f.name.errors.maxlength">User Name must not have more than 11 characters</div>
                        <div *ngIf="f.name.errors.pattern">First letter of User Name must start with character</div>
                    </div>
        </div>
        <div class="form-group">
            <label>Name</label>
            <input type="text" formControlName="duname" class="form-control" pattern="[A-Za-z]{1,}" [ngClass]="{ 'is-invalid': submitted && f.duname.errors }" />
                    <div *ngIf="submitted && f.duname.errors" class="invalid-feedback">
                        <div *ngIf="f.duname.errors.required">Name is required</div>
                        <div *ngIf="f.duname.errors.pattern">Name must only contains characters</div>
                        
                    </div>
        </div>
        
        <div class="form-group">
            <label>Email</label>
            <input type="text" formControlName="email" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.pattern">Email must be a valid email address</div>
            </div>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
            </div>
        </div>
        <div class="form-group">
                <label>Mobile Number</label>
                <input type="tel" formControlName="mobileno" minlength="6" maxlength="10" pattern="[6-9]{1}[0-9]{9}" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mobileno.errors }" />
                <div *ngIf="submitted && f.mobileno.errors" class="invalid-feedback">
                    <div *ngIf="f.mobileno.errors.required">Mobile Number is required</div>
                    <div *ngIf="f.mobileno.errors.minlength">Mobile Number must be at least 10 numbers</div>
                    <div *ngIf="f.mobileno.errors.pattern">Mobile Number must start b/w [6-9]</div>
                </div>
            </div>
        <div class="form-group">
            <label>Date of Birth</label>
            <input type="date" formControlName="date" min="1998-01-01" max="1998-01-01" class="form-control" [ngClass]="" />
            
        </div>
        <div class="form-group">
                <label>Gender</label>
                <div class="form-check">
                    <label class="form-check-label" for="m">
                    <input type="radio" formControlName="gender" id="m" class="form-check-input"  value="Male" [ngClass]="">Male
                </label>
                </div>
                <div class="form-check">
                        <label class="form-check-label" for="f">
                        <input type="radio" formControlName="gender" id="f" class="form-check-input" value="Female" [ngClass]="">Female
                    </label>
                    </div>
                    <div class="form-check">
                            <label class="form-check-label" for="o">
                            <input type="radio" formControlName="gender" id="o" class="form-check-input" value="Others" [ngClass]="">Others
                        </label>
                        </div>
                </div>
        <div class="form-group">
            <label>Area</label>
            <input type="text" placeholder="Enter Area Name" list="arealist" formControlName="area" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.area.errors }">
            <datalist id="arealist">
                <option [value]="area" *ngFor="let area of areas">{{area}}</option>
                <!-- <option value="Gachibowli">Gachibowli</option>
                          <option value="Shamshabad">Shamshabad</option>
                          <option value="Kukatpally">Kukatpally</option>
                          <option value="Mallapur">Mallapur</option>
                          <option value="Hi Tech City">Hi Tech City</option>
                          <option value="Habsiguda">Habsiguda</option>
                          <option value="Jubilee Hills">Jubilee Hills</option>
                          <option value="Secunderabad">Secunderabad</option>
                          <option value="Banjara Hills">Banjara Hills</option>
                          <option value="Manikonda"> Manikonda</option> -->
            </datalist>
            <div *ngIf="submitted && f.area.errors" class="invalid-feedback">
                    <div *ngIf="f.area.errors.required">Area is required</div>
                </div>
        </div>
        
        <div class="form-group">
                <label for="s">Specialization</label>
                
                <input type="text" placeholder="Enter Your Specialization" list="speclist" formControlName="specialization" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.specialization.errors }">
                <datalist id="speclist">
                        <option value="medicine">Medicine</option>
                        <option value="pediatrics">Pediatrics</option>
                        <option value="cardiology">Cardiology</option>
                        <option value="neurosurgery">Neurosurgery</option>
                        <option value="orthopedics">Orthopedics</option>
                </datalist>
                    <div *ngIf="submitted && f.specialization.errors" class="invalid-feedback">
                            <div *ngIf="f.specialization.errors.required">specialization is required</div>
                        </div>
                </div>
                <div class="form-group">
                        <label>Experience</label>
                        <input type="number" formControlName="experience" min="0" max="70" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.experience.errors }" />
                        <div *ngIf="submitted && f.experience.errors" class="invalid-feedback">
                            <div *ngIf="f.experience.errors.required">Experience is required</div>
                        </div>
                    </div>
                
                <div class="form-group">
                    <label for="time">Timings</label>
                    <div class="row">
                        <div class="col-md-6">
                                <input type="time" formControlName="timings" min="09:00" max="18:59" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.timings.errors }" />
                            <small>Opening Time</small>
                            <div *ngIf="submitted && f.timings.errors" class="invalid-feedback">
                                    <div *ngIf="f.timings.errors.required">Opening Time is required</div>
                                </div>
                        </div>
                        <div class="col-md-6">
                                <input type="time" formControlName="timingsc" min="20:00" max="23:59" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.timingsc.errors }" />
                            <small>Closing Time</small>
                            <div *ngIf="submitted && f.timingsc.errors" class="invalid-feedback">
                                    <div *ngIf="f.timingsc.errors.required">Closing Time is required</div>
                                </div>
                        </div>
                    </div>
                    
                </div>
        
            <div class="form-group">
                <label for="a">About Me</label>
                <textarea rows="5" formControlName="about" class="form-control" [ngClass]=""></textarea>
            </div>
        
        <div class="text-center">
        <button class="btn btn-success">Submit</button>
        </div>
        </form>
        </div>
        <div class="col-md-3"></div>
        </div>
        </div>
        
        
    
    

<!-- <div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 bg-info">
    
    <div class="container">
            <h3 class="text-center mt-3 mb-4">Doctor Registration</h3>
            <form #ref="ngForm" (ngSubmit)="doctorReg(ref.value)">
                
    <div class="form-group">
        <label for="n">User Name</label>
        <input type="text" name="name" id="n" #refname="ngModel" required minlength="5" class="form-control" ngModel>
        <div *ngIf="refname.invalid&&(refname.dirty||refname.touched)" class="text-danger">
            <div *ngIf="refname.errors.required">
                <p>*User Name is required</p>
            </div>
            <div *ngIf="refname.errors.minlength">
                <p>*User Name must be atleast 4 chars long</p>
            </div>
        </div>
    </div>
    <div class="form-group">
            <label for="n">Name</label>
            <input type="text" name="duname" id="dun" #refduname="ngModel" required minlength="5" class="form-control" ngModel>
            <div *ngIf="refduname.invalid&&(refduname.dirty||refduname.touched)" class="text-danger">
                <div *ngIf="refduname.errors.required">
                    <p>*Name is required</p>
                </div>
                <div *ngIf="refpuname.errors.minlength">
                    <p>*Name must be atleast 4 chars long</p>
                </div>
            </div>
        </div>
    <div class="form-group">
        <label for="e">Email-Id</label>
        <input type="email" name="email" id="e" class="form-control" #refemail="ngModel" required ngModel>
        <div *ngIf="refemail.invalid&&(refemail.dirty||refemail.touched)" class="text-danger">
            <div *ngIf="refemail.errors.required">
                <p>*Email is required</p>
            </div>
        </div>
    
    </div>
    <div class="form-group">
        <label for="p">Password</label>
        <input type="password" name="password" id="p" class="form-control" #refpwd="ngModel" required minlength="6" ngModel>
        <div *ngIf="refpwd.invalid&&(refpwd.dirty||refpwd.touched)" class="text-danger">
            <div *ngIf="refpwd.errors.required">
                <p>*Password is required</p>
            </div>
            <div *ngIf="refpwd.errors.minlength">
                <p>*Password must be atleast 6 chars long</p>
            </div>
        </div>
    
    </div>
    <div class="form-group">
            <label for="mn">Mobile Number</label>
            <input type="text" name="mobileno" id="mn" class="form-control" #refnum="ngModel" required ngModel>
            
            <div *ngIf="refnum.invalid&&(refnum.dirty||refnum.touched)" class="text-danger">
                <div *ngIf="refnum.errors.required">
                    <p>Mobile Number is required</p>
                    <p>max 10 characters 0-9</p>
                </div>
            </div>
    </div>
                <div class="form-group">
                    <label for="d">Date Of Birth</label>
                    <input type="date" name="date" id="d" class="form-control" ngModel>
                </div>
                <div class="form-group">
                <label for="">Gender</label>
                <div class="form-check">
                    <label class="form-check-label" for="m">
                    <input type="radio" name="gender" id="m" value=male class="form-check-input" ngModel>Male
                </label>
                </div>
                <div class="form-check">
                        <label class="form-check-label" for="f">
                        <input type="radio" name="gender" id="f" value=female class="form-check-input" ngModel>Female
                    </label>
                    </div>
                    <div class="form-check">
                            <label class="form-check-label" for="o">
                            <input type="radio" name="gender" id="o" value=others class="form-check-input" ngModel>Others
                        </label>
                        </div>
                </div>
                
                <div class="form-group">
                <label for="area">Area</label>
                <div class="form-group">
                    <select name="area" id="area" class="form-control" #refarea="ngModel" required ngModel>
                            <option value="" disabled="disabled" selected>Select</option>
                            <option value="Gachibowli">Gachibowli</option>
                            <option value="Shamshabad">Shamshabad</option>
                            <option value="Kukatpally">Kukatpally</option>
                            <option value="Mallapur">Mallapur</option>
                            <option value="Hi Tech City">Hi Tech City</option>
                            <option value="Habsiguda">Habsiguda</option>
                            <option value="Jubilee Hills">Jubilee Hills</option>
                            <option value="Secunderabad">Secunderabad</option>
                            <option value="Banjara Hills">Banjara Hills</option>
                            <option value="Manikonda"> Manikonda</option>
                    </select>
                </div>
                <div *ngIf="refarea.invalid&&(refarea.dirty||refarea.touched)" class="text-danger">
                        <div *ngIf="refarea.errors.required">
                            <p>*Area is required</p>
                        </div>

                    </div>
                </div>
                
                <div class="form-group">
                    <label for="s">Specialization</label>
                    <div class="form-group">
                        <select name="specialization" id="s" class="form-control" #refspec="ngModel" required ngModel>
                            <option value="" disabled="disabled" selected>select</option>
                            <option value="medicine">Medicine</option>
                            <option value="pediatrics">Pediatrics</option>
                            <option value="cardiology">Cardiology</option>
                            <option value="neurosurgery">Neurosurgery</option>
                            <option value="orthopedics">Orthopedics</option>
                        </select>
                    </div>
                    <div *ngIf="refspec.invalid&&(refspec.dirty||refspec.touched)" class="text-danger">
                            <div *ngIf="refspec.errors.required">
                                <p>*Specilization is required</p>
                            </div>
                            
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exp">Experience</label>
                        <input type="number" name="experience" id="exp" class="form-control" #refexp="ngModel" required ngModel>
                        <div *ngIf="refexp.invalid&&(refexp.dirty||refexp.touched)" class="text-danger">
                                <div *ngIf="refexp.errors.required">
                                    <p>*Experience is required</p>
                                </div>
                                
                            </div>
                    </div>
                    <div class="form-group">
                        <label for="time">Timings</label>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="time" name="timings" id="time" class="form-control" #reftime="ngModel" required minlength="5" ngModel>
                                <small>Opening Time</small>
                            </div>
                            <div class="col-md-6">
                                <input type="time" name="timingsc" id="time" class="form-control" #reftime="ngModel" required minlength="5" ngModel>
                                <small>Closing Time</small>
                            </div>
                        </div>
                        <div *ngIf="reftime.invalid&&(reftime.dirty||reftime.touched)" class="text-danger">
                                <div *ngIf="reftime.errors.required">
                                    <p>*Timings are required</p>
                                </div>
                        </div>
                    </div>
            
                <div class="form-group">
                    <label for="a">About Me</label>
                    <textarea rows="5" name="about" class="form-control" id="a" placeholder="enter something" ngModel></textarea>
                </div>
                <div class="text-center">
                <button class="btn btn-success">Submit</button>
                </div>
                </form>
                </div>
                <div class="col-md-3"></div>
                </div>
                </div>
                
                 -->